.AboutMe{
    padding-top: 120px;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 120px;

    padding-bottom: 50px;
    background-color: $txt-color;
    color: $bg-color1;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    align-self: center;
    z-index: 0;

    .firstleft{
        position: absolute;
        top: -50px;
        left:-350px;
        height: 50px;
    }
    .firstright{
        scale:0.2;
        position: absolute;
        top: -240px;
        right: -600px;
        height: 50px;
    }
    .secondleft{
        position: absolute;
        top: 1200px;
        left:-250px;
        height: 50px;
    }
    .secondright{
        position: absolute;
        top: 1140px;
        right: -450px;   
    }
    .thirdleft{
        position: absolute;
        top: 1800px;
        left:-220px;
        height: 50px;
    }
    .thirdright{
        position: absolute;
        top: 2440px;
        right: 0px;
        
    }
    .fourthleft{
        position: absolute;
        top: 3200px;
        left:-130px;
        height: 50px;
        transform: rotate(180deg);   
    }
    .fourthright{
        position: absolute;
        top: 3640px;
        right: -200px;   
    }
    .thithleft{
        position: absolute;
        top: 4440px;
        right: 1150px;   
        transform: rotate(180deg);   

    }
    
    .AM-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0 auto;

        .txt-conten{
            margin-left: 8vw;
            display: flex;
            flex-direction: row;
            gap: 40px;

        .teste::first-letter {
            
            -webkit-initial-letter: 6;
            initial-letter: 4;
            font-weight: bold;
            font-size: 26px;
        }
        p{
            margin-top: 6px;
        }
    }
        .content-box{
            
            margin-left: 15vw;
            margin-right: 50vw;
            width: 50vw;
            height: 400px;
            line-height: 25px;
            
            
        }
    }

}



@media only screen and (max-width: 450px) {
.AboutMe{
    padding-top: 120px;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 20px;
    padding-bottom: 350px;
    background-color: $txt-color;
    color: $bg-color1;
    position: relative;
    height:fit-content;
    align-self: center;
    z-index: 0;

    .firstleft{
        position: absolute;
        top: 150px;
        left:-350px;
        height: 50px;
    }
    .firstright{
        scale:0.2;
        position: absolute;
        top: -200px;
        right: -750px;
        height: 50px;
    }
    .secondleft{
        position: absolute;
        top: 1100px;
        left:-280px;
        height: 50px;
    }
    .secondright{
        position: absolute;
        top: 2200px;
        right: -480px;   
    }
    .thirdleft{
        position: absolute;
        top: 3300px;
        left:-150px;
        height: 50px;
    }
    .thirdright{
        position: absolute;
        top: 4240px;
        right: -100px;
        
    }
    .fourthleft{
        position: absolute;
        top: 5100px;
        left:-130px;
        height: 50px;
        transform: rotate(180deg);   
    }
    .fourthright{
        position: absolute;
        top: 6040px;
        right: -300px;   
    }
    .thithleft{
        position: absolute;
        top: 4440px;
        right: 1150px;   
        transform: rotate(180deg);   

    }
    
    .AM-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90vw;
        margin: 0 auto;

        .txt-conten{
            margin-left: 0vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            margin-bottom: 40px;
            h3{
                position: absolute;
                left:100px;
            }
            p{
                position: absolute;
                top: -10px;
                left: 10px;
            }

        .teste::first-letter {
            
            -webkit-initial-letter: 6;
            initial-letter: 4;
            font-weight: bold;
            font-size: 26px;
        }
        p{
            margin-top: 6px;
        }
    }
        .content-box{
            
            margin-left: 15vw;
            margin-right: 50vw;
            width: 50vw;
            height: 400px;
            line-height: 25px;
            
            
        }
    }

}
}