.About {
    padding-top: 50px;
    margin-left: 50px;

    
    .about-container {
        display: flex;
        position: relative;
        .card-vertical{
            

        }
        .card-horizontal {
            position: absolute;
            left: 50vw;
            top: 50%;
        }
    }
}