#contact {
    background: $bg-color3 url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/envelope.svg?sanitize=true) no-repeat right;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -10px 0 0px;
    z-index: 0;
    font-size: 1.3rem;
    position: relative;
    max-width: 100vw;
    color: $txt-color2;

}

.contato_txt {
    position: absolute;
    z-index: 1;
}


.button_submit {
    position: absolute;
    top: 270px;
    left: 0px;
    background-color: #f2f2f2;
    width: 80px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 1px 1px $bg-color1;
    box-shadow: inset 0px 0px 1px 1px $bg-color1;
    text-align: center;
    font-family: inherit;


}

.button_submit:hover {
    -webkit-box-shadow: 1px 1px 8px 1px $bg-color1;
    box-shadow: 1px 1px 8px 1px $bg-color1;
    font-size: 16px;
}

#contact .container {
    width: 350px;
    position: absolute;
    left: 15%;
}

#contact-form {
    position: absolute;
    left: -30px;
    top: -70px;
}

.title {
    position: absolute;
    top: -180px;
    left: -30px;
    text-align: left;
}

.button_submit {
    position: absolute;
    top: 280px;
    left: 0px;
    background-color: $txt-color;
    color: $bg-color1;
    padding: 5px;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgba(11, 12, 16, 0.4);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    width: 450px;
    margin-top: 10px;
}

textarea {
    font-size: max(16px, 1em);
    font-family: inherit;
    width: 462px;
    height: 150px;
    background-color: rgba(11, 12, 16, 0.4);
    border-radius: 5px;
    margin-top: 10px;


}

@media only screen and (max-width: 450px) {
    .social-media{
        visibility:hidden;
    }
    .container {
        margin-left: 0;
    }

    #contact {
        margin: 0;
        padding-top: 0px;
        max-height: 100vh;
    }

    #contact-form {
        position: absolute;
        left: -50px;
        top: -140px
    }

    .title {
        position: absolute;
        top: -260px;
        left: -40px;
        width: 90vw;
        text-align: center;
    }

    .button_submit {
        position: absolute;
        top: 310px;
        left: 120px;
        font-family: inherit;
    }

    input {
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        padding: 0.25em 0.5em;
        background-color: rgba(11, 12, 16, 0.4);
        border: 2px solid var(--input-border);
        border-radius: 5px;
        width: 85vw;
        margin-top: 10px;
        color: $bg-color1;
    }

    textarea {
        font-size: max(16px, 1em);
        font-family: inherit;
        width: 90vw;
        height: 150px;
        background-color: rgba(11, 12, 16, 0.4);
        border-radius: 5px;
        margin-top: 10px;

        color: $bg-color1;


    }
    
}

@media only screen and (max-width: 650px) {
    .social-media{
        visibility:hidden;
    }  
}