.Cover {
    padding-top: 120px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: $txt-color;
    color: $bg-color1;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    align-self: center;
    z-index: 0;






    .cover-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .cover-txt {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 45px;
            }

            h2 {
                line-height: 1.6;
                font-size: 30px;
                padding-bottom: 100px;
                text-shadow: 1px 1px 1px $bg-color3;


            }

        }

        .tecnologies {
            max-width: 70vw;

            ul {
                float: left;
                margin-top: 10px;
                margin-left: -50px;
                width: 60vw;
                display: flex;
                flex-direction: row;
                list-style: none;
                z-index: 2;
                flex-wrap: wrap;

                li {
                    display: inline-block;
                    padding: 10px;
                    z-index: 2;

                    img:hover {
                        animation: rubberBand;
                        animation-duration: 0.7s;
                    }


                }
            }
        }

        .logo {
            position: absolute;
            top: 10px;
            right: 100px;
            z-index: 0;
            padding: 20px;
            width: 45vw;
            animation-name: logoAnimation;
            animation-duration: 10s;


            img {
                position: absolute;
                width: 100%;
                top: auto;
                right: auto;
                bottom: auto;
                left: o;
                margin: auto;
                height: auto;
                opacity: 0;

            }

            svg {
                width: 100%;
                height: auto;
                bottom: 0;
            }


        }

        .svg-container {
            stroke: #ffd700;
            stroke-width: 1px;
        }

    }
}

@media (min-width:401px) and (max-width: 900px) {
    .cover-txt {
        display: flex;
        flex-direction: column;
        z-index: 1;

        h2 {
            line-height: 1.6;
            font-size: 20px;
            z-index: 1;
        }

        h3 {
            margin-top: -70px;
            margin-bottom: 70px;
        }

        .tecnologies {
            max-width: 100vw;

            ul {
                width: 65vw;
                display: flex;
                flex-direction: row;
                list-style: none;
                z-index: 2;
                flex-wrap: wrap;

                li {
                    display: inline-block;
                    padding: 10px;


                }

            }
        }
    }



    .logo {
        position: absolute;
        top: 40px;
        right: -100px;
        z-index: 0;


        img {
            width: 1450px;
            height: auto;
        }
    }
}


@media only screen and (max-width: 400px) {
    .Cover {
        padding-top: 0px;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 20px;
        padding-bottom: 50px;
        background-color: $txt-color2;
        color: $bg-color1;
        min-height: 600px;
        max-height: 800px;
        width: 103vw;
        position: relative;
        align-self: center;
        margin-top: 0;

        .cover-container {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-left: 0;

            .logo {

                margin-top: 0px;
                margin-right: 0;
                z-index: 0;
                position: absolute;

                top: -110px;
                left: 20%;
                visibility: hidden;

                img {
                    width: 50px;
                    height: auto;
                    visibility: hidden;
                }
            }

            .cover-txt {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                z-index: 4;
                margin-left: 0;

                .text {
                    margin-top: 40px;

                    z-index: 1;

                    h1 {}

                    h2 {
                        line-height: 1.6;
                        z-index: 4;
                        margin-left: 2px;
                        margin-right: 45px;
                    }

                    h3 {
                        margin-top: -80px;
                        margin-bottom: 50px;
                    }
                }

                .tecnologies {
                    max-width: 100vw;

                    ul {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
                        align-content: center;
                        justify-content: center;
                        z-index: 2;
                        flex-wrap: wrap;
                        width: 90vw;

                        li {
                            display: inline-block;
                            padding: 10px;

                        }
                    }
                }
            }



        }

    }

}


@keyframes logoAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce01 {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    25% {
        transform: translateY(-1px);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(-1px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: scale3d(1.50, 0.65, 1);
    }

    20% {
        transform: scale3d(0.55, 1.45, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}