.CV {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .content_CV {
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .picture {
        margin-top: 200px;
        max-width: 200px;
        max-height: 200px;
        margin-right: 50px;

    }

    .cd_block {
        // border: 1px solid white;
        cursor: pointer;
        position: relative;
        // overflow: hidden;

        img {
            position: absolute;
            left: -30px;
            top: 15px;
            width: 600px;



        }

    }


    strong {
        &:hover {
            font-size: 18px;

        }
    }

    .block_margin {
        margin-top: 10px;

    }

    .Profile,
    .Education,
    .ITSkills {
        height: 0;
        position: absolute;
        display: none;

    }


    .Profile_content,
    .Education_content,
    .ITSkills_content {
        margin-top: 10px;
        min-height: auto;
        overflow: hidden;
        font-size: 15px;
        max-width: 550px;


    }



}


@media only screen and (max-width: 450px) {

    .cd_block {
        width: 100vw;
    }

}