.Footer {
    text-align: center;
    margin-left: 0px;
    height: 100px;
    width: 100vw;
    background-color: #2f2f2f;
    h5{
        padding-top: 10px;
    }
    p{
        font-size: 12px;
    }
}