.projects {
 
    background-color: #fff;
    width: 90vw;
    color: #2f2f2f;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    h5{
 
        margin-top: 10px;
        margin-bottom: 30px;
        color: #6E6F74;
    }
    h2{

        line-height: 30px;
        margin-bottom: 30px;
        
    }
    
    .project{
        display: flex;
        margin-left: 120px;
        margin-right: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 600px;
        width: 75vw;
        gap: 20px;
     
        .tech_stack{
            height: 600px;
            width: 40vw;
            text-align: center;
            p{
                text-align: left;
                line-height: 24px;
             }

            .img_stack{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;

                .img_tech{
                    width: auto;
                    height: 50px;
                    margin-bottom: 30px;
                    &:hover {
                        animation: rubberBand;
                        animation-duration: 1.2s;
                    }

                }
               
            }
            
         }

         .project-description{
            max-width: 35vw;

        }
        
        .site{

            .links{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 10px;
                img{
                    width: 40px;
                    height: auto;
                   
                }
            }
            .siteEven{
            
                width: 380px;
                height: 500px;
                border-radius: 25px;
                border: #6E6F74 solid 1px;
                -webkit-box-shadow: -5px 5px 0 0 #292929;
                box-shadow: -5px 5px 0 0 #6E6F74;
                overflow: hidden;
    
            }
            .siteOdd{
                
                width: 380px;
                height: 500px;
                border-radius: 25px;
                border: #6E6F74 solid 1px;
                -webkit-box-shadow: 5px 5px 0 0 #292929;
                box-shadow: 5px 5px 0 0 #6E6F74;
                overflow: hidden;
                
                        }
        }
 
        
    }

}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: scale3d(1.50, 0.65, 1);
    }

    20% {
        transform: scale3d(0.55, 1.45, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}