$bg-color1: #05003E;
$bg-color2: #030026;
$txt-color: #CF9faf;
$txt-color2: #0f0fbf;
$font: 'Kodchasan', sans-serif;

// ont-family: 'Montserrat', sans-serif;

// font-family: 'Nunito', sans-serif;
//font-family: 'Kodchasan', sans-serif;
* {
    margin: 0;
}

body {
    background-image: linear-gradient($bg-color2, $bg-color1, $bg-color2, $bg-color1);
    color: $txt-color ;
    font-family: $font;
    margin: 0;
    padding: 0;
}

.ECards {
    animation-duration: 5s;
    animation-name: ECards;
}

@keyframes ECards {
    0% {
        background-color: #CF9faf
    }

    100% {
        background-color: #030026
    }
}

.ECards2 {
    animation-duration: 5s;
    animation-name: ECards2;
}

@keyframes ECards2 {
    0% {
        background-color: #030026
    }

    100% {
        background-color: #CF9faf
    }
}

@import 'cover';
@import 'cv';
@import 'project';
@import 'navbar';
@import 'contact';
@import 'footer';
@import 'modal';