* {
  margin: 0;
}

body {
  background-image: linear-gradient(#66fcf1, #c5c6c7, #45a29e, #c5c6c7);
  color: rgb(31, 40, 51);
  font-family: "Kodchasan", sans-serif;
  margin: 0;
  padding: 0;
}

.ECards {
  animation-duration: 5s;
  animation-name: ECards;
}

@keyframes ECards {
  0% {
    background-color: #CF9faf;
  }
  100% {
    background-color: #030026;
  }
}
.ECards2 {
  animation-duration: 5s;
  animation-name: ECards2;
}

@keyframes ECards2 {
  0% {
    background-color: #030026;
  }
  100% {
    background-color: #CF9faf;
  }
}
.Cover {
  padding-top: 60px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: rgb(31, 40, 51);
  color: #c5c6c7;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  align-self: center;
}
.Cover .cover-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Cover .cover-container .cover-txt {
  display: flex;
  flex-direction: column;
}
.Cover .cover-container .cover-txt h2 {
  line-height: 1.6;
  padding-bottom: 100px;
}
.Cover .cover-container .tecnologies {
  max-width: 70vw;
}
.Cover .cover-container .tecnologies ul {
  float: left;
  margin-top: 10px;
  margin-left: -50px;
  width: 60vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  z-index: 2;
  flex-wrap: wrap;
}
.Cover .cover-container .tecnologies ul li {
  display: inline-block;
  padding: 10px;
  z-index: 2;
}
.Cover .cover-container .tecnologies ul li img:hover {
  margin-top: -20px;
  width: 100px;
  height: auto;
  bottom: 0;
  left: auto;
  margin: auto;
}
.Cover .cover-container .logo {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 0;
  padding: 20px;
  width: 45vw;
  animation-name: logoAnimation;
  animation-duration: 2s;
}
.Cover .cover-container .logo img {
  position: absolute;
  width: 100%;
  top: auto;
  right: auto;
  bottom: auto;
  left: o;
  margin: auto;
  height: auto;
  opacity: 0;
}
.Cover .cover-container .logo svg {
  width: 100%;
  height: auto;
  bottom: 0;
}
.Cover .cover-container .svg-container {
  stroke: #ffd700;
  stroke-width: 1px;
}

@media (min-width: 401px) and (max-width: 900px) {
  .cover-txt {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .cover-txt h2 {
    line-height: 1.6;
    font-size: 20px;
    z-index: 1;
  }
  .cover-txt .tecnologies {
    max-width: 100vw;
  }
  .cover-txt .tecnologies ul {
    width: 65vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    z-index: 2;
    flex-wrap: wrap;
  }
  .cover-txt .tecnologies ul li {
    display: inline-block;
    padding: 10px;
  }
  .logo {
    position: absolute;
    top: 40px;
    right: -100px;
    z-index: 0;
  }
  .logo img {
    width: 1450px;
    height: auto;
  }
}
@media only screen and (max-width: 400px) {
  .Cover {
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 20px;
    padding-bottom: 50px;
    background-color: rgb(11, 12, 16);
    color: #c5c6c7;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    align-self: center;
  }
  .Cover .cover-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0;
  }
  .Cover .cover-container .logo {
    margin-top: 0px;
    margin-right: 0;
    z-index: 0;
    position: absolute;
    top: -110px;
    left: 20%;
    visibility: hidden;
  }
  .Cover .cover-container .logo img {
    width: 50px;
    height: auto;
    visibility: hidden;
  }
  .Cover .cover-container .cover-txt {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    z-index: 4;
    margin-left: 0;
  }
  .Cover .cover-container .cover-txt .text {
    margin-top: 40px;
    z-index: 1;
  }
  .Cover .cover-container .cover-txt .text h2 {
    line-height: 1.6;
    z-index: 4;
    margin-left: 2px;
    margin-right: 2px;
  }
  .Cover .cover-container .cover-txt .tecnologies {
    max-width: 100vw;
  }
  .Cover .cover-container .cover-txt .tecnologies ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: center;
    z-index: 2;
    flex-wrap: wrap;
    width: 90vw;
  }
  .Cover .cover-container .cover-txt .tecnologies ul li {
    display: inline-block;
    padding: 10px;
  }
}
@keyframes logoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.CV {
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.CV .photo {
  width: 350px;
  height: 450px;
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.CV .texto {
  width: 550px;
  height: 450px;
  background-color: rgba(100, 100, 100, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  background-color: rgb(31, 40, 51);
  padding: 20px;
}
.projects h1 {
  text-align: center;
  color: #c5c6c7;
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.cards #img_cover {
  width: auto;
  height: 100%;
  object-fit: fill;
}
.cards #turn {
  margin: 5px;
}
.cards #turn:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.cards #turn:focus {
  -webkit-box-shadow: inset 1px 1px 6px 7px #FF6600;
  box-shadow: 1px 1px 6px 7px #070707;
}
.cards #pieces {
  width: 35px;
  margin-top: 10px;
}
.cards .card {
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 650px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  flex: 1;
  transition: flex 0.7s;
}
.cards .card .content_site {
  visibility: hidden;
  z-index: -1;
  height: 0%;
}
.cards .card .content_frame {
  visibility: visible;
  z-index: 1;
  height: 100%;
}
.cards .card .txt {
  border-bottom: 3px solid;
  background-color: white;
}
.cards .card h2 {
  text-align: center;
  color: #1f1f1f;
}
.cards .card iframe {
  width: 100%;
  height: 90%;
}
.cards .deactivate {
  flex: 1;
}
.cards .active {
  flex: 10;
  -webkit-box-shadow: 0px 0px 3px 0px #ffd89e;
  box-shadow: 0px 0px 10px 0px #ffb13c;
  background-image: url(../img/white.jpg);
}
.cards .active #img_cover {
  position: absolute;
  opacity: 0;
  animation: image_animation 1s forwards;
}
.cards .active h2 {
  opacity: 1;
}

@keyframes image_animation {
  0% {
    opacity: 1;
    z-index: 0;
  }
  50% {
    opacity: 0.3;
    z-index: 0;
  }
  99% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    z-index: -4;
  }
}
@media (max-width: 900px) {
  .cards .card {
    flex: 0.2;
  }
  .cards .active {
    flex: 5;
  }
}
@media (max-width: 400px) {
  .cards .card {
    flex: 0.2;
  }
  .cards .active {
    flex: 5;
  }
}
.Navbar {
  height: 40px;
  width: 100vw;
  margin-bottom: 2px;
  -webkit-box-shadow: 0 1px 4px 1px #c5c6c7;
  box-shadow: 0 1px 4px 1px #c5c6c7;
  z-index: 4;
  background-color: rgb(31, 40, 51);
  margin-top: 0;
  align-self: center;
}
.Navbar ul {
  float: right;
  margin-right: 50px;
  width: 400px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Navbar ul li {
  margin-top: 10px;
  display: inline-flex;
}
.Navbar ul li a {
  text-decoration: none;
}
.Navbar ul li a h3 {
  color: #c5c6c7;
}
.Navbar ul li a h3:hover {
  font-size: 20px;
  text-shadow: 1px 2px 1px rgb(11, 12, 16);
}

#contact {
  background: #45a29e url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/envelope.svg?sanitize=true) no-repeat right;
  color: #fafafa;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: -10px 0 0px;
  z-index: 0;
  font-size: 1.3rem;
  position: relative;
  max-width: 100vw;
  color: rgb(11, 12, 16);
}

.contato_txt {
  position: absolute;
  z-index: 1;
}

.button_submit {
  position: absolute;
  top: 270px;
  left: 0px;
  background-color: #f2f2f2;
  width: 80px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 1px 1px #c5c6c7;
  box-shadow: inset 0px 0px 1px 1px #c5c6c7;
  text-align: center;
  font-family: inherit;
}

.button_submit:hover {
  -webkit-box-shadow: 1px 1px 8px 1px #c5c6c7;
  box-shadow: 1px 1px 8px 1px #c5c6c7;
  font-size: 16px;
}

#contact .container {
  width: 350px;
  position: absolute;
  left: 15%;
}

#contact-form {
  position: absolute;
  left: -30px;
  top: -70px;
}

.title {
  position: absolute;
  top: -180px;
  left: -30px;
  text-align: left;
}

.button_submit {
  position: absolute;
  top: 280px;
  left: 0px;
  background-color: rgb(31, 40, 51);
  color: #c5c6c7;
  padding: 5px;
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: rgba(11, 12, 16, 0.4);
  border: 2px solid var(--input-border);
  border-radius: 5px;
  width: 450px;
  margin-top: 10px;
}

textarea {
  font-size: max(16px, 1em);
  font-family: inherit;
  width: 462px;
  height: 150px;
  background-color: rgba(11, 12, 16, 0.4);
  border-radius: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 400px) {
  .container {
    margin-left: 0;
  }
  #contact {
    margin: 0;
  }
  #contact-form {
    position: absolute;
    left: -50px;
    top: 0px;
  }
  .title {
    position: absolute;
    top: -110px;
    left: -40px;
    width: 90vw;
    text-align: center;
  }
  .button_submit {
    position: absolute;
    top: 240px;
    left: 120px;
    font-family: inherit;
  }
}
.Footer {
  text-align: center;
  margin: 10px;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.9);
}

.ReadMe {
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  width: 50%;
  height: 70vh;
  border-radius: 20px;
  background-color: aliceblue;
  line-height: 30px;
  color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 40px 0px 40px;
  -webkit-box-shadow: 0 1px 4px 1px #171717;
  box-shadow: 0 1px 4px 1px #171717;
}
.ReadMe .ReadMeImg {
  width: 25px;
}
.ReadMe .ReadMeImg #solid_github {
  width: 50px;
}
.ReadMe .ReadMeImg #solid_github:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.ReadMe .ReadMeImg #web:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.ReadMe .ReadMeTxt h2,
.ReadMe .ReadMeTxt h5,
.ReadMe .ReadMeTxt p {
  margin-bottom: 20px;
}
