* {
  margin: 0;
}

body {
  background-image: linear-gradient(#66fcf1, #c5c6c7, #45a29e, #c5c6c7);
  color: #1f2833;
  font-family: "Kodchasan", sans-serif;
  margin: 0;
  padding: 0;
}

.ECards {
  animation-duration: 5s;
  animation-name: ECards;
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounce01 0.7s;
  animation-fill-mode: forwards;
  min-width: 10px;
  color: #66fcf1;
}

._1 {
  animation-delay: 0.0357142857s;
}

._2 {
  animation-delay: 0.0714285714s;
}

._3 {
  animation-delay: 0.1071428571s;
}

._4 {
  animation-delay: 0.1428571429s;
}

._5 {
  animation-delay: 0.1785714286s;
}

._6 {
  animation-delay: 0.2142857143s;
}

._7 {
  animation-delay: 0.25s;
}

._8 {
  animation-delay: 0.2857142857s;
}

._9 {
  animation-delay: 0.3214285714s;
}

._10 {
  animation-delay: 0.3571428571s;
}

._11 {
  animation-delay: 0.3928571429s;
}

._12 {
  animation-delay: 0.4285714286s;
}

._13 {
  animation-delay: 0.4642857143s;
}

._14 {
  animation-delay: 0.5s;
}

._15 {
  animation-delay: 0.5357142857s;
}

._16 {
  animation-delay: 0.5714285714s;
}

._17 {
  animation-delay: 0.6071428571s;
}

._18 {
  animation-delay: 0.6428571429s;
}

._19 {
  animation-delay: 0.6785714286s;
}

._20 {
  animation-delay: 0.7142857143s;
}

._21 {
  animation-delay: 0.75s;
}

._22 {
  animation-delay: 0.7857142857s;
}

._23 {
  animation-delay: 0.8214285714s;
}

._24 {
  animation-delay: 0.8571428571s;
}

._25 {
  animation-delay: 0.8928571429s;
}

._26 {
  animation-delay: 0.9285714286s;
}

._27 {
  animation-delay: 0.9642857143s;
}

._28 {
  animation-delay: 1s;
}

._29 {
  animation-delay: 1.0357142857s;
}

._30 {
  animation-delay: 1.0714285714s;
}

._31 {
  animation-delay: 1.1071428571s;
}

._32 {
  animation-delay: 1.1428571429s;
}

._33 {
  animation-delay: 1.1785714286s;
}

._34 {
  animation-delay: 1.2142857143s;
}

._35 {
  animation-delay: 1.25s;
}

._36 {
  animation-delay: 1.2857142857s;
}

._37 {
  animation-delay: 1.3214285714s;
}

._38 {
  animation-delay: 1.3571428571s;
}

._39 {
  animation-delay: 1.3928571429s;
}

._40 {
  animation-delay: 1.4285714286s;
}

._41 {
  animation-delay: 1.4642857143s;
}

._42 {
  animation-delay: 1.5s;
}

._43 {
  animation-delay: 1.5357142857s;
}

._44 {
  animation-delay: 1.5714285714s;
}

._45 {
  animation-delay: 1.6071428571s;
}

._46 {
  animation-delay: 1.6428571429s;
}

._47 {
  animation-delay: 1.6785714286s;
}

._48 {
  animation-delay: 1.7142857143s;
}

._49 {
  animation-delay: 1.75s;
}

._50 {
  animation-delay: 1.7857142857s;
}

._51 {
  animation-delay: 1.8214285714s;
}

._52 {
  animation-delay: 1.8571428571s;
}

._53 {
  animation-delay: 1.8928571429s;
}

._54 {
  animation-delay: 1.9285714286s;
}

._55 {
  animation-delay: 1.9642857143s;
}

._56 {
  animation-delay: 2s;
}

._57 {
  animation-delay: 2.0357142857s;
}

._58 {
  animation-delay: 2.0714285714s;
}

._59 {
  animation-delay: 2.1071428571s;
}

._60 {
  animation-delay: 2.1428571429s;
}

._61 {
  animation-delay: 2.1785714286s;
}

._62 {
  animation-delay: 2.2142857143s;
}

._63 {
  animation-delay: 2.25s;
}

._64 {
  animation-delay: 2.2857142857s;
}

._65 {
  animation-delay: 2.3214285714s;
}

._66 {
  animation-delay: 2.3571428571s;
}

._67 {
  animation-delay: 2.3928571429s;
}

._68 {
  animation-delay: 2.4285714286s;
}

._69 {
  animation-delay: 2.4642857143s;
}

._70 {
  animation-delay: 2.5s;
}

._71 {
  animation-delay: 2.5357142857s;
}

._72 {
  animation-delay: 2.5714285714s;
}

._73 {
  animation-delay: 2.6071428571s;
}

._74 {
  animation-delay: 2.6428571429s;
}

._75 {
  animation-delay: 2.6785714286s;
}

._76 {
  animation-delay: 2.7142857143s;
}

._77 {
  animation-delay: 2.75s;
}

._78 {
  animation-delay: 2.7857142857s;
}

._79 {
  animation-delay: 2.8214285714s;
}

._80 {
  animation-delay: 2.8571428571s;
}

._81 {
  animation-delay: 2.8928571429s;
}

._82 {
  animation-delay: 2.9285714286s;
}

._83 {
  animation-delay: 2.9642857143s;
}

._84 {
  animation-delay: 3s;
}

._85 {
  animation-delay: 3.0357142857s;
}

._86 {
  animation-delay: 3.0714285714s;
}

._87 {
  animation-delay: 3.1071428571s;
}

._88 {
  animation-delay: 3.1428571429s;
}

._89 {
  animation-delay: 3.1785714286s;
}

._90 {
  animation-delay: 3.2142857143s;
}

._91 {
  animation-delay: 3.25s;
}

._92 {
  animation-delay: 3.2857142857s;
}

._93 {
  animation-delay: 3.3214285714s;
}

._94 {
  animation-delay: 3.3571428571s;
}

._95 {
  animation-delay: 3.3928571429s;
}

._96 {
  animation-delay: 3.4285714286s;
}

._97 {
  animation-delay: 3.4642857143s;
}

._98 {
  animation-delay: 3.5s;
}

._99 {
  animation-delay: 3.5357142857s;
}

._100 {
  animation-delay: 3.5714285714s;
}

._101 {
  animation-delay: 3.6071428571s;
}

._102 {
  animation-delay: 3.6428571429s;
}

._103 {
  animation-delay: 3.6785714286s;
}

._104 {
  animation-delay: 3.7142857143s;
}

._105 {
  animation-delay: 3.75s;
}

._106 {
  animation-delay: 3.7857142857s;
}

._107 {
  animation-delay: 3.8214285714s;
}

._108 {
  animation-delay: 3.8571428571s;
}

._109 {
  animation-delay: 3.8928571429s;
}

._110 {
  animation-delay: 3.9285714286s;
}

._111 {
  animation-delay: 3.9642857143s;
}

._112 {
  animation-delay: 4s;
}

._113 {
  animation-delay: 4.0357142857s;
}

._114 {
  animation-delay: 4.0714285714s;
}

._115 {
  animation-delay: 4.1071428571s;
}

._116 {
  animation-delay: 4.1428571429s;
}

._117 {
  animation-delay: 4.1785714286s;
}

._118 {
  animation-delay: 4.2142857143s;
}

._119 {
  animation-delay: 4.25s;
}

._120 {
  animation-delay: 4.2857142857s;
}

._121 {
  animation-delay: 4.3214285714s;
}

._122 {
  animation-delay: 4.3571428571s;
}

._123 {
  animation-delay: 4.3928571429s;
}

._124 {
  animation-delay: 4.4285714286s;
}

._125 {
  animation-delay: 4.4642857143s;
}

._126 {
  animation-delay: 4.5s;
}

._127 {
  animation-delay: 4.5357142857s;
}

._128 {
  animation-delay: 4.5714285714s;
}

._129 {
  animation-delay: 4.6071428571s;
}

._130 {
  animation-delay: 4.6428571429s;
}

._131 {
  animation-delay: 4.6785714286s;
}

._132 {
  animation-delay: 4.7142857143s;
}

._133 {
  animation-delay: 4.75s;
}

._134 {
  animation-delay: 4.7857142857s;
}

._135 {
  animation-delay: 4.8214285714s;
}

._136 {
  animation-delay: 4.8571428571s;
}

._137 {
  animation-delay: 4.8928571429s;
}

._138 {
  animation-delay: 4.9285714286s;
}

._139 {
  animation-delay: 4.9642857143s;
}

._140 {
  animation-delay: 5s;
}

._141 {
  animation-delay: 5.0357142857s;
}

._142 {
  animation-delay: 5.0714285714s;
}

._143 {
  animation-delay: 5.1071428571s;
}

._144 {
  animation-delay: 5.1428571429s;
}

._145 {
  animation-delay: 5.1785714286s;
}

._146 {
  animation-delay: 5.2142857143s;
}

._147 {
  animation-delay: 5.25s;
}

._148 {
  animation-delay: 5.2857142857s;
}

._149 {
  animation-delay: 5.3214285714s;
}

._150 {
  animation-delay: 5.3571428571s;
}

._151 {
  animation-delay: 5.3928571429s;
}

._152 {
  animation-delay: 5.4285714286s;
}

._153 {
  animation-delay: 5.4642857143s;
}

._154 {
  animation-delay: 5.5s;
}

._155 {
  animation-delay: 5.5357142857s;
}

._156 {
  animation-delay: 5.5714285714s;
}

._157 {
  animation-delay: 5.6071428571s;
}

._158 {
  animation-delay: 5.6428571429s;
}

._159 {
  animation-delay: 5.6785714286s;
}

._160 {
  animation-delay: 5.7142857143s;
}

._161 {
  animation-delay: 5.75s;
}

._162 {
  animation-delay: 5.7857142857s;
}

._163 {
  animation-delay: 5.8214285714s;
}

._164 {
  animation-delay: 5.8571428571s;
}

._165 {
  animation-delay: 5.8928571429s;
}

._166 {
  animation-delay: 5.9285714286s;
}

._167 {
  animation-delay: 5.9642857143s;
}

._168 {
  animation-delay: 6s;
}

._169 {
  animation-delay: 6.0357142857s;
}

._170 {
  animation-delay: 6.0714285714s;
}

._171 {
  animation-delay: 6.1071428571s;
}

._172 {
  animation-delay: 6.1428571429s;
}

._173 {
  animation-delay: 6.1785714286s;
}

._174 {
  animation-delay: 6.2142857143s;
}

._175 {
  animation-delay: 6.25s;
}

._176 {
  animation-delay: 6.2857142857s;
}

._177 {
  animation-delay: 6.3214285714s;
}

._178 {
  animation-delay: 6.3571428571s;
}

._179 {
  animation-delay: 6.3928571429s;
}

._180 {
  animation-delay: 6.4285714286s;
}

._181 {
  animation-delay: 6.4642857143s;
}

._182 {
  animation-delay: 6.5s;
}

._183 {
  animation-delay: 6.5357142857s;
}

._184 {
  animation-delay: 6.5714285714s;
}

._185 {
  animation-delay: 6.6071428571s;
}

._186 {
  animation-delay: 6.6428571429s;
}

._187 {
  animation-delay: 6.6785714286s;
}

._188 {
  animation-delay: 6.7142857143s;
}

._189 {
  animation-delay: 6.75s;
}

._190 {
  animation-delay: 6.7857142857s;
}

._191 {
  animation-delay: 6.8214285714s;
}

._192 {
  animation-delay: 6.8571428571s;
}

._193 {
  animation-delay: 6.8928571429s;
}

._194 {
  animation-delay: 6.9285714286s;
}

._195 {
  animation-delay: 6.9642857143s;
}

._196 {
  animation-delay: 7s;
}

._197 {
  animation-delay: 7.0357142857s;
}

._198 {
  animation-delay: 7.0714285714s;
}

._199 {
  animation-delay: 7.1071428571s;
}

._200 {
  animation-delay: 7.1428571429s;
}

._23,
._27,
._2,
._59,
._75,
._83,
._89,
._91,
._115,
._116 {
  margin-right: -4px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0s;
  cursor: pointer;
}
.text-animate-hover:hover {
  animation-name: rubberBand;
  color: #45a29e;
}

@keyframes ECards {
  0% {
    background-color: #CF9faf;
  }
  100% {
    background-color: #030026;
  }
}
.ECards2 {
  animation-duration: 5s;
  animation-name: ECards2;
}

@keyframes ECards2 {
  0% {
    background-color: #030026;
  }
  100% {
    background-color: #CF9faf;
  }
}
.Cover {
  padding-top: 120px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 50px;
  padding-bottom: 50px;
  background-color: #1f2833;
  color: #c5c6c7;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  align-self: center;
  z-index: 0;
}
.Cover .cover-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Cover .cover-container .cover-txt {
  display: flex;
  flex-direction: column;
}
.Cover .cover-container .cover-txt h1 {
  font-size: 45px;
}
.Cover .cover-container .cover-txt h2 {
  line-height: 1.6;
  font-size: 30px;
  padding-bottom: 100px;
  text-shadow: 1px 1px 1px #45a29e;
}
.Cover .cover-container .tecnologies {
  max-width: 70vw;
}
.Cover .cover-container .tecnologies ul {
  float: left;
  margin-top: 10px;
  margin-left: -50px;
  width: 60vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  z-index: 2;
  flex-wrap: wrap;
}
.Cover .cover-container .tecnologies ul li {
  display: inline-block;
  padding: 10px;
  z-index: 2;
}
.Cover .cover-container .tecnologies ul li img:hover {
  animation: rubberBand;
  animation-duration: 1.2s;
}
.Cover .cover-container .logo {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 0;
  padding: 20px;
  width: 45vw;
  animation-name: logoAnimation;
  animation-duration: 10s;
}
.Cover .cover-container .logo img {
  position: absolute;
  width: 100%;
  top: auto;
  right: auto;
  bottom: auto;
  left: o;
  margin: auto;
  height: auto;
  opacity: 0;
}
.Cover .cover-container .logo svg {
  width: 100%;
  height: auto;
  bottom: 0;
}
.Cover .cover-container .svg-container {
  stroke: #ffd700;
  stroke-width: 1px;
}

@media (min-width: 401px) and (max-width: 900px) {
  .cover-txt {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .cover-txt h2 {
    line-height: 1.6;
    font-size: 20px;
    z-index: 1;
  }
  .cover-txt h3 {
    margin-top: -70px;
    margin-bottom: 70px;
  }
  .cover-txt .tecnologies {
    max-width: 100vw;
  }
  .cover-txt .tecnologies ul {
    width: 65vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    z-index: 2;
    flex-wrap: wrap;
  }
  .cover-txt .tecnologies ul li {
    display: inline-block;
    padding: 10px;
  }
  .logo {
    position: absolute;
    top: 40px;
    right: -100px;
    z-index: 0;
  }
  .logo img {
    width: 1450px;
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
  .Cover {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 20px;
    padding-bottom: 50px;
    background-color: rgb(11, 12, 16);
    color: #c5c6c7;
    min-height: 600px;
    max-height: 800px;
    width: 103vw;
    position: relative;
    align-self: center;
    margin-top: 0;
    max-width: 100vw;
    overflow: hidden;
  }
  .Cover .cover-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0;
    max-width: 100vw;
  }
  .Cover .cover-container .logo {
    margin-top: 0px;
    margin-right: 0;
    z-index: 0;
    position: absolute;
    top: -110px;
    left: 20%;
    visibility: hidden;
  }
  .Cover .cover-container .logo img {
    width: 50px;
    height: auto;
    visibility: hidden;
  }
  .Cover .cover-container .cover-txt {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    z-index: 4;
    margin-left: 0;
  }
  .Cover .cover-container .cover-txt .text {
    margin-top: 40px;
    z-index: 1;
  }
  .Cover .cover-container .cover-txt .text h2 {
    line-height: 1.6;
    z-index: 4;
    margin-left: 2px;
    margin-right: 45px;
  }
  .Cover .cover-container .cover-txt .text h3 {
    margin-top: -80px;
    margin-bottom: 50px;
  }
  .Cover .cover-container .cover-txt .tecnologies {
    max-width: 100vw;
  }
  .Cover .cover-container .cover-txt .tecnologies ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: center;
    z-index: 2;
    flex-wrap: wrap;
    width: 90vw;
  }
  .Cover .cover-container .cover-txt .tecnologies ul li {
    display: inline-block;
    padding: 10px;
  }
}
@keyframes logoAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce01 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateY(-1px);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-1px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  10% {
    transform: scale3d(1.5, 0.65, 1);
  }
  20% {
    transform: scale3d(0.55, 1.45, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.CV {
  min-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.CV .content_CV {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CV .picture {
  margin-top: 200px;
  max-width: 200px;
  max-height: 200px;
  margin-right: 50px;
}
.CV .cd_block {
  cursor: pointer;
  position: relative;
}
.CV .cd_block img {
  position: absolute;
  left: -30px;
  top: 15px;
  width: 600px;
}
.CV strong:hover {
  font-size: 18px;
}
.CV .block_margin {
  margin-top: 10px;
}
.CV .Profile,
.CV .Education,
.CV .ITSkills {
  height: 0;
  position: absolute;
  display: none;
}
.CV .Profile_content,
.CV .Education_content,
.CV .ITSkills_content {
  margin-top: 10px;
  min-height: auto;
  overflow: hidden;
  font-size: 15px;
  max-width: 550px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 450px) {
  .CV {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  .CV .picture {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 0;
  }
  .CV .cd_block {
    width: 100vw;
  }
  .CV .content_CV {
    width: 90vw;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 0;
  }
  .CV .content_CV .Profile,
.CV .content_CV .Education,
.CV .content_CV .ITSkills {
    height: 0;
    position: absolute;
    display: none;
    margin-top: 0;
  }
  .CV .content_CV .Profile_content,
.CV .content_CV .Education_content,
.CV .content_CV .ITSkills_content {
    margin-top: 10px;
    min-height: auto;
    overflow: hidden;
    font-size: 15px;
    width: 100%;
  }
}
.projects {
  opacity: 1;
  background-color: rgb(11, 12, 16);
  padding: 20px;
}
.projects h1 {
  text-align: center;
  color: #c5c6c7;
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.cards #img_cover {
  width: auto;
  height: 100%;
  object-fit: fill;
}
.cards #turn {
  margin: 5px;
}
.cards #turn:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.cards #turn:focus {
  -webkit-box-shadow: inset 1px 1px 6px 7px #FF6600;
  box-shadow: 1px 1px 6px 7px #1f2833;
}
.cards #pieces {
  width: 35px;
  margin-top: 10px;
}
.cards #pieces:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.cards .card {
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  height: 650px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  flex: 1;
  transition: flex 0.7s;
}
.cards .card .content_site {
  visibility: hidden;
  z-index: -1;
  height: 0%;
}
.cards .card .content_frame {
  visibility: visible;
  z-index: 1;
  height: 100%;
  position: relative;
}
.cards .card .txt {
  border-bottom: 3px solid;
  background-color: white;
}
.cards .card h2 {
  text-align: center;
  color: #1f1f1f;
}
.cards .card iframe {
  width: 100%;
  height: 90%;
}
.cards .deactivate {
  flex: 1;
}
.cards .deactivate .content_frame {
  visibility: hidden;
}
.cards .active {
  flex: 10;
  -webkit-box-shadow: 0px 0px 3px 0px #ffd89e;
  box-shadow: 0px 0px 10px 0px #ffb13c;
  background-image: url(../img/white.jpg);
}
.cards .active #img_cover {
  position: absolute;
  opacity: 0;
  animation: image_animation 1s forwards;
}
.cards .active h2 {
  opacity: 1;
}

@keyframes image_animation {
  0% {
    opacity: 1;
    z-index: 0;
  }
  50% {
    opacity: 0.3;
    z-index: 0;
  }
  99% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    z-index: -4;
  }
}
@media (max-width: 900px) {
  .cards .card {
    flex: 0.2;
  }
  .cards .active {
    flex: 5;
  }
}
@media (max-width: 400px) {
  .cards .card {
    flex: 0.2;
  }
  .cards .active {
    flex: 5;
  }
}
.nav-bar {
  height: 40px;
  width: 100vw;
  margin-bottom: 2px;
  -webkit-box-shadow: 0 1px 4px 1px #c5c6c7;
  box-shadow: 0 1px 4px 1px #c5c6c7;
  z-index: 4;
  background-color: #1f2833;
  margin-top: 0;
  align-self: center;
  position: fixed;
}
.nav-bar .navcheck {
  display: none;
}
.nav-bar .menu {
  padding-top: 5px;
  margin-right: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-bar .menu #menu-about {
  margin-left: 50px;
}
.nav-bar .menu #menu-projects {
  margin-left: 50px;
}
.nav-bar .menu #menu-contact {
  margin-left: 50px;
}
.nav-bar .menu a {
  margin-top: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #c5c6c7;
}
.nav-bar .menu a:hover {
  font-size: 20px;
  text-shadow: 1px 2px 1px rgb(11, 12, 16);
}

@media only screen and (max-width: 450px) {
  .nav-wrapper .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -2px;
    z-index: 2;
    background-color: rgb(11, 12, 16);
    -webkit-box-shadow: 0 1px 0px 0px #c5c6c7;
    box-shadow: 0 0px 0px 0px #c5c6c7;
  }
  .nav-wrapper .nav-bar .menu {
    padding-top: 0;
    height: 0;
    list-style: none;
    overflow: hidden;
    z-index: 4;
    background-color: #66fcf1;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-wrapper .nav-bar #menu-about {
    margin-top: 20vh;
    margin-left: 15vw;
  }
  .nav-wrapper .nav-bar #menu-projects {
    margin-top: 10vh;
    margin-left: 20vw;
  }
  .nav-wrapper .nav-bar #menu-contact {
    margin-top: 10vh;
    margin-left: 25vw;
  }
  .nav-wrapper .nav-bar a {
    text-decoration: none;
    color: #1f2833;
    font-size: 30px;
    font-weight: 600;
  }
  .nav-wrapper .nav-bar a:hover {
    font-size: 35px;
  }
  .nav-wrapper .nav-bar a:focus {
    -webkit-text-shadow: 1px 4px 1px #c5c6c7;
    text-shadow: 1px 4px 1px #c5c6c7;
  }
  .nav-wrapper .nav-bar a:after, .nav-wrapper .nav-bar a:before {
    content: "-";
  }
  .nav-wrapper .nav-bar .menu-icon {
    cursor: pointer;
    float: right;
    padding-top: 28px;
    padding-right: 10px;
    position: relative;
    user-select: none;
    margin-right: 30px;
  }
  .nav-wrapper .nav-bar .menu-icon .burger:before,
.nav-wrapper .nav-bar .menu-icon .burger:after {
    background: rgb(255, 251, 251);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 20px;
    transition: all 0.2s ease-out;
    width: 50%;
  }
  .nav-wrapper .nav-bar .menu-icon .burger:before {
    top: 5px;
    transform: rotate(90deg);
  }
  .nav-wrapper .nav-bar .menu-icon .burger:after {
    top: 15px;
    transform: rotate(90deg);
  }
  .nav-wrapper .nav-bar #navcheck {
    display: none;
  }
  .nav-wrapper .nav-bar #navcheck:checked ~ .menu {
    height: 100vh;
  }
  .nav-wrapper .nav-bar #navcheck:checked ~ .menu-icon .burger:before {
    transform: rotate(-45deg);
    top: px;
  }
  .nav-wrapper .nav-bar #navcheck:checked ~ .menu-icon .burger:after {
    transform: rotate(45deg);
    top: 5px;
    right: 20px;
  }
  .nav-wrapper .nav-bar #navcheck:checked ~ .menu-icon:not(.steps) .burger:before,
.nav-wrapper .nav-bar .header #navcheck:checked ~ .menu-icon:not(.steps) .burger:after {
    top: 0px;
    right: 20px;
  }
}
#contact {
  background: #45a29e url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/envelope.svg?sanitize=true) no-repeat right;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: -10px 0 0px;
  z-index: 0;
  font-size: 1.3rem;
  position: relative;
  max-width: 100vw;
  color: rgb(11, 12, 16);
}

.contato_txt {
  position: absolute;
  z-index: 1;
}

.button_submit {
  position: absolute;
  top: 270px;
  left: 0px;
  background-color: #f2f2f2;
  width: 80px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 1px 1px #c5c6c7;
  box-shadow: inset 0px 0px 1px 1px #c5c6c7;
  text-align: center;
  font-family: inherit;
}

.button_submit:hover {
  -webkit-box-shadow: 1px 1px 8px 1px #c5c6c7;
  box-shadow: 1px 1px 8px 1px #c5c6c7;
  font-size: 16px;
}

#contact .container {
  width: 350px;
  position: absolute;
  left: 15%;
}

#contact-form {
  position: absolute;
  left: -30px;
  top: -70px;
}

.title {
  position: absolute;
  top: -180px;
  left: -30px;
  text-align: left;
}

.button_submit {
  position: absolute;
  top: 280px;
  left: 0px;
  background-color: #1f2833;
  color: #c5c6c7;
  padding: 5px;
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: rgba(11, 12, 16, 0.4);
  border: 2px solid var(--input-border);
  border-radius: 5px;
  width: 450px;
  margin-top: 10px;
}

textarea {
  font-size: max(16px, 1em);
  font-family: inherit;
  width: 462px;
  height: 150px;
  background-color: rgba(11, 12, 16, 0.4);
  border-radius: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 450px) {
  .container {
    margin-left: 0;
  }
  #contact {
    margin: 0;
    padding-top: 0px;
    max-height: 100vh;
  }
  #contact-form {
    position: absolute;
    left: -50px;
    top: -140px;
  }
  .title {
    position: absolute;
    top: -260px;
    left: -40px;
    width: 90vw;
    text-align: center;
  }
  .button_submit {
    position: absolute;
    top: 310px;
    left: 120px;
    font-family: inherit;
  }
  input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgba(11, 12, 16, 0.4);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    width: 85vw;
    margin-top: 10px;
    color: #c5c6c7;
  }
  textarea {
    font-size: max(16px, 1em);
    font-family: inherit;
    width: 90vw;
    height: 150px;
    background-color: rgba(11, 12, 16, 0.4);
    border-radius: 5px;
    margin-top: 10px;
    color: #c5c6c7;
  }
}
.Footer {
  text-align: center;
  margin: 10px;
}

#modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(48, 38, 38, 0.9);
}

.ReadMe {
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  width: 50%;
  height: 70vh;
  border-radius: 20px;
  background-color: aliceblue;
  line-height: 30px;
  color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0px 40px 0px 40px;
  -webkit-box-shadow: 0 1px 4px 1px #171717;
  box-shadow: 0 1px 4px 1px #171717;
}
.ReadMe .ReadMeImg {
  width: 25px;
}
.ReadMe .ReadMeImg #solid_github {
  width: 50px;
}
.ReadMe .ReadMeImg #solid_github:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.ReadMe .ReadMeImg #web:hover {
  filter: invert(27%) sepia(51%) saturate(8888%) hue-rotate(46deg) brightness(104%) contrast(97%);
}
.ReadMe .ReadMeTxt h2,
.ReadMe .ReadMeTxt h5,
.ReadMe .ReadMeTxt p {
  margin-bottom: 20px;
}
